/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "avenir-light";
  src: url("../fonts/avenir-light.eot");
  src: url("../fonts/avenir-light.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir-light.woff") format("woff"), url("../fonts/avenir-light.ttf") format("truetype"), url("../fonts/avenir-light.svg#avenir-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 22, sass/main.sass */
body {
  font-family: "avenir-light", Helvetica, Arial, sans-serif;
  background: #222222;
  color: white;
}

/* line 27, sass/main.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.4em;
}

/* line 31, sass/main.sass */
h1 {
  font-size: 128px;
}

/* line 34, sass/main.sass */
h2 {
  font-size: 48px;
}

/* line 37, sass/main.sass */
h3 {
  font-size: 32px;
}

/* line 40, sass/main.sass */
label,
input,
button,
select,
textarea {
  font-family: "avenir-light", Helvetica, Arial, sans-serif;
  outline: 0;
}

/* line 48, sass/main.sass */
li {
  list-style: none;
}

/* line 54, sass/main.sass */
.splash {
  position: absolute;
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

/* line 65, sass/main.sass */
.search .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222222;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  z-index: 15;
}
/* line 72, sass/main.sass */
.search .search-form {
  position: absolute;
  z-index: 20;
  margin-top: 180px;
  width: 100%;
  text-align: center;
}
/* line 78, sass/main.sass */
.search .search-form input {
  font-size: 64px;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
}
/* line 84, sass/main.sass */
.search .search-form button {
  font-size: 64px;
}

/* line 91, sass/main.sass */
.search-results {
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 96, sass/main.sass */
.search-results .history {
  *zoom: 1;
  margin-bottom: 20px;
  -webkit-transition: margin 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
  -moz-transition: margin 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
  -o-transition: margin 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
  transition: margin 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.search-results .history:after {
  content: "";
  display: table;
  clear: both;
}
/* line 100, sass/main.sass */
.search-results .history .query {
  float: left;
  font-size: 48px;
  color: #777777;
  margin: 0 15px 0 5px;
}
/* line 105, sass/main.sass */
.search-results .history .query:first-of-type {
  color: white;
}
/* line 107, sass/main.sass */
.search-results .grid {
  -webkit-transition: margin 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
  -moz-transition: margin 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
  -o-transition: margin 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
  transition: margin 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
  margin-right: 160px;
}
/* line 110, sass/main.sass */
.search-results .grid .thumb-box {
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
  height: 150px;
  background: #333333;
  overflow: hidden;
  border: 5px solid #222222;
  position: relative;
  top: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s, top 0.6s;
  -moz-transition: opacity 0.6s, top 0.6s;
  -o-transition: opacity 0.6s, top 0.6s;
  transition: opacity 0.6s, top 0.6s;
}
/* line 122, sass/main.sass */
.search-results .grid .thumb-box:hover {
  border-color: #22dd22;
}
/* line 124, sass/main.sass */
.search-results .grid .thumb-box .thumb {
  width: 100%;
  height: 100%;
}
/* line 127, sass/main.sass */
.search-results .grid .thumb-box.slideUp {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  top: 0;
}
/* line 131, sass/main.sass */
.search-results.showFaves .history {
  margin-left: 160px;
}
/* line 133, sass/main.sass */
.search-results.showFaves .grid {
  margin-left: 160px;
  margin-right: 0;
}
/* line 136, sass/main.sass */
.search-results.showFaves .faves {
  left: 0;
}

/* line 144, sass/main.sass */
.faves {
  position: absolute;
  width: 120px;
  height: 600px;
  padding: 20px;
  top: 0;
  left: -160px;
  background: #444444;
  -webkit-transition: left 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
  -moz-transition: left 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
  -o-transition: left 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
  transition: left 0.6s cubic-bezier(0.175, 0.885, 0.44, 1.125);
}
/* line 153, sass/main.sass */
.faves .thumb-box {
  margin: 0 5px 5px 0;
  width: 100px;
  height: 100px;
  background: #444444;
  overflow: hidden;
  border: 5px solid #444444;
}
/* line 160, sass/main.sass */
.faves .thumb-box:hover {
  border-color: #22dd22;
}
/* line 162, sass/main.sass */
.faves .thumb-box .thumb {
  width: 100%;
  height: 100%;
}

/* line 171, sass/main.sass */
.detail {
  text-align: center;
}

/* line 185, sass/main.sass */
.off {
  display: none;
}
